@charset "utf-8";

body{
    background-color: #CCCCCC;
    font-family: sans-serif;
    padding:10px;
}
h1{
    text-align: center;
    font-size: 350%;
    font-family: sans-serif;
    margin: 0%;
}

p{
    padding: 10px;
    font-size: 25px;
}

p.ocre{
    background-color: #FFD580;
    text-align: center;
    border: #7D6536 2px solid;
    position: absolute;
    left: 10%;
    right: 10%;
    z-index: 0;
    height: 10%;

}
p.verde{
    background-color: #80FF80;
    text-align: center;
    border: #367D36 3px solid;
    left: 32%;
    right: 32%;
    z-index: 1;
    height: 30%;
    top: 40%;
    position: absolute;

}
p.amarillo{
    background-color: #FFFF80;
    text-align: left;
    border: #D6D643 3px solid;
    position: absolute;
    z-index: 0;
    right: 60%;
    left: 5%;
    top: 30%;
    height: 25%;
    }
p.azul{
    background-color: #CCFFFF;
    text-align: right;
    border: #9FC6C6 3px solid;
    position: absolute;
    z-index: 0;
    right: 5%;
    left: 60%;
    top: 30%;
    height: 25%;
    }

p.morado{
    background-color: #FFE6FF;
    text-align: left;
    border:#BEA7BE 3px solid;
    position: absolute;
    z-index: 0;
    left: 5%;
    right: 60%;
    top:65%;
    height: 25%;
}
p.rosa{

    background-color: #FFB3B3;
    text-align: right;
    border: #846262 3px solid;
    position: absolute;
    z-index: 0;
    right: 5%;
    left: 60%;
    top: 65%;
    height: 25%;
}
p:hover{
    z-index:100;
}