@charset "utf-8";

body{
    background-color: hsl(45, 100%, 95%);
    font-family: sans-serif;
    font-size: 200%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}
h1{
    text-transform: uppercase;
    text-align: center;

}
pre{
    border: black;
    background-color: hsl(0, 0%, 93%);
    white-space:pre-wrap;
    margin-left: 10%;
    margin-right: 10%;
    border:black solid;
    padding: 5px;

}
img.izquierda{
    float: left;
}
hr{
    margin-left: 20%;
    margin-right: 20%;
    height:5px;
    background-color:black ;
}
